attrs==23.1.0
beautifulsoup4==4.12.2
certifi==2023.11.17
charset-normalizer==3.3.2
idna==3.6
jsonpatch==1.33
jsonpath-ng==1.6.0
jsonpointer==2.4
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
ply==3.11
referencing==0.32.0
requests==2.31.0
robotframework==6.1.1
robotframework-jsonlibrary==0.5
robotframework-newhttplibrary==1.1.6
robotframework-requests==0.9.6
rpds-py==0.13.2
soupsieve==2.5
urllib3==2.1.0
waitress==2.1.2
WebOb==1.8.7
WebTest==3.0.0
